<div class = "row">
        <div class="col-xs-12 col-md-8 col-md-push-2">
<div class="box box-success col-xs-12">
            <div class="box-header with-border">
              <h3 class="box-title">Announcements</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body col-xs-12">
              <ul class="products-list product-list-in-box">
                <% @announcements.each do |a|%>
  
                <li class="item col-xs-12">
                  <div class="product-info">
                      <%= link_to a.title, announcement_path(a), :class => 'product-title' %>
                    <br>
                    <h6 class="label label-default "><%= a.created_at.to_date %></h6>
                    <h6 class="label label-warning "><%= a.subject.title %></h6>
                    
                  </div>
                </li>
                <% end %>

                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <%= will_paginate @announcements  %>
              <% if current_user.info.is_teacher %>
                <div class = "col-xs-12">
                  <%= link_to 'Create Announcement', announcements_new_path, :class => 'btn btn-sm btn-success btn-flat col-xs-12 col-md-4 col-md-push-4 view-more' %>
                </div>
              <% end %>
            </div>
            <!-- /.box-footer -->
          </div>
        
          <!-- /.box -->
        </div>

</div>