<div class = "row">
        <div class="col-xs-12 col-md-8 col-md-push-2">
<div class="box box-success col-xs-12">
            <div class="box-header with-border">
              <h3 class="box-title">Announcements</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body col-xs-12">
              <ul class="products-list product-list-in-box">
                <% @announcements.each do |a|%>
  
                <li class="item col-xs-12">
                  <div class="product-info">
                      <%= link_to a.title, announcement_path(a), :class => 'product-title' %>
                    <br>
                    <h6 class="label label-default "><%= a.created_at.to_date %></h6>
                    <% if a.subject %>
                      <% if a.subject.teacher == current_user %>
                        <%= link_to a.subject.title, subject_path(a.subject), :class => 'label label-warning' %>
                      <% else %>
                        <h5 class = "label label-warning"><%= a.subject.title %></h5>
                      <% end%>
                    <% else %>
                      <h5>All</h5>
                    <% end%>
                    
                    
                  </div>
                </li>
                <% end %>

                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <div class = "col-xs-12">
                  <% if current_user.info.is_teacher %>
                      <%= link_to 'View all', announcements_path, :class => 'btn btn-sm btn-info btn-flat col-xs-12 col-md-5 view-more' %>
                      <%= link_to 'Create Announcement', announcements_new_path, :class => 'btn btn-sm btn-success btn-flat col-xs-12 col-md-5 col-md-push-2 hidden-xs hidden-sm view-more' %>
                  <% else %>
                  <%= link_to 'View all', announcements_path, :class => 'btn btn-sm btn-info btn-flat col-xs-12 col-md-6 col-md-push-3 view-more' %>
                  <% end %>
                </div>
              <% if current_user.info.is_teacher %>
                <div class = "col-xs-12">
                  <%= link_to 'Create Announcement', announcements_new_path, :class => 'btn btn-sm btn-success btn-flat col-xs-12 col-md-4 col-md-push-4 hidden-md hidden-lg view-more' %>
                </div>
              <% end %>
            </div>
            <!-- /.box-footer -->
          </div>
        
          <!-- /.box -->
        </div>

        <div class="col-xs-12 col-md-8 col-md-push-2">
            <div class="box box-success col-xs-12">
                        <div class="box-header with-border">
                          <h3 class="box-title">Subjects</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body col-xs-12">
                          <ul class="products-list product-list-in-box">
                            <% @subjects.each do |s|%>
              
                            <li class="item col-xs-12">
                              <div class="product-info">
                                  <%= link_to s.title, subject_path(s), :class => 'product-title' %>
                                <br>
                              </div>
                            </li>
                            <% end %>
            
                            <!-- /.item -->
                          </ul>
                        </div>
                      </div>
                    
                      <!-- /.box -->
                    </div>
</div>