<div class = "row">
  <div class = "col-xs-12 col-md-8 col-md-push-2 subject-title">
    <h3><%= @subject.title %></h3>
  </div>
    <div class="col-xs-12 col-md-8 col-md-push-2">
<div class="box box-success col-xs-12">
            <div class="box-header with-border">
              <h3 class="box-title">Announcements</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body col-xs-12">
              <ul class="products-list product-list-in-box">
                <% @announcements.each do |a|%>
  
                <li class="item col-xs-12">
                  <div class="product-info">
                      <%= link_to a.title, announcement_path(a), :class => 'product-title' %>
                    <br>
                    <h6 class="label label-default "><%= a.created_at.to_date %></h6>
                    <%= link_to a.subject.title, subject_path(a.subject), :class => 'label label-warning' %>
                    
                  </div>
                </li>
                <% end %>

                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <%= will_paginate @announcements  %>
            </div>
            <!-- /.box-footer -->
          </div>
        
          <!-- /.box -->
        </div>
</div>