<div class = "row">
  <div class = "col-xs-12 col-md-8 col-md-push-2 subject-title">
    <h3><%= @subject.title %></h3>
  </div>
    <div class="col-xs-12 col-md-8 col-md-push-2">
<div class="box box-success col-xs-12">
            <div class="box-header with-border">
              <h3 class="box-title">Announcements</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body col-xs-12">
              <ul class="products-list product-list-in-box">
                <% @announcements.each do |a|%>
  
                <li class="item col-xs-12">
                  <div class="product-info">
                      <%= link_to a.title, announcement_path(a), :class => 'product-title' %>
                    <br>
                    <h6 class="label label-default "><%= a.created_at.to_date %></h6>
                    <%= link_to a.subject.title, subject_path(a.subject), :class => 'label label-warning' %>
                    
                  </div>
                </li>
                <% end %>

                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <%= link_to 'View all', announcements_path, :class => 'btn btn-sm btn-info btn-flat col-xs-12 view-more' %>
            </div>
            <!-- /.box-footer -->
          </div>
        
          <!-- /.box -->
        </div>
        <div class="col-xs-12 col-md-8 col-md-push-2">
            <div class="box box-success col-xs-12">
                        <div class="box-header with-border">
                          <h3 class="box-title">Documents</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body col-xs-12">
                          <ul class="products-list product-list-in-box">
                            <% @subject.documents.each do |s|%>
              
                            <li class="item col-xs-12">
                                    <div class="product-info">
                                         <%= link_to s.doc.file.filename, download_document_path(@subject.id,s.id), :class => 'product-title' %>
                                          <br>
                                          <h6 class="label label-default "><%= s.created_at.to_date %></h6>
                                          <% if current_user.info.is_teacher %>
                                            <%= link_to "Delete", delete_document_path(@subject.id,s.id),  method: :delete, data: {confirm: "Are you sure you want to delete this document?"}, :class => 'label label-danger' %>
                                          <% end %>
                                        </div>
                              <div class="product-info">
                                   
                                <br>
                              </div>
                            </li>
                            <% end %>
            
                            <!-- /.item -->
                          </ul>
                        </div>
                        <!-- /.box-body -->
                        <% if current_user.info.is_teacher %>
                        <div class="box-footer text-center">
                          <%= link_to 'Upload Document', new_documents_path(@subject), :class => 'btn btn-sm btn-success btn-flat col-xs-12 view-more' %>
                        </div>
                        <% end %>
                        <!-- /.box-footer -->
                      </div>
                    
                      <!-- /.box -->
                    </div>
</div>