
<div class="container-fluid">
    <div class="row" id = "main-wrapper">
        <div class="col-md-4 col-md-push-4">
            <div class="form-login">
              <h4>Register</h4>
  
              <%= form_for @user, url: user_register_path(), html: {method: "post"} do |f| %>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, class: 'form-control input-sm chat-input' %>
                </div>
                <div class="field">
                    <%= f.label :company %><br />
                    <%= f.text_field :company, autofocus: true, class: 'form-control input-sm chat-input' %>
                  </div>
                <div class="field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control input-sm chat-input' %>
                </div>
                <div class="field">
                    <%= f.label :confirmation_password %><br />
                    <%= f.password_field :confirmation_password, autocomplete: "off", class: 'form-control input-sm chat-input' %>
                  </div>
              
              
                <div class="actions">
                  <%= f.submit "Register" , class: 'btn btn-primary btn-md' %>
                </div>
              <% end %>
            </div>
        </div>
    </div>
  </div>