
<div class="container-fluid">
  <div class="row" id = "register-wrapper">
      <div class="main-login col-md-4 col-md-push-4">
          <div class="form-login">
            <h1>Login</h1>
                  <% if flash[:alert] %>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Alert!</h4>
                            <%= flash[:alert] %>
                        </div>
                    <% end %>
            <%= form_for @user, url: sign_in_path(), html: {method: "post"} do |f| %>
              <div class="admin-register-field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: 'form-control input-sm chat-input' %>
              </div>
            
              <div class="admin-register-field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control input-sm chat-input' %>
              </div>
            
                <div class="admin-register-field actions">
                  <%= f.submit "Log In" , class: 'btn btn-primary btn-md' %>
                </div>
            <% end %>
          </div>
      </div>
  </div>
</div>