<div class = "row">
  <div class="col-xs-12 col-md-8 col-md-push-2">
<div class="box box-success col-xs-12">
          <div class="box-header with-border">
            <h3 class="box-title">Create Subject</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body col-xs-12">
            <ul class="products-list product-list-in-box">
                <%= form_for @subject, url: {action: "update"} do |f| %>
                  <div class="form-group">
                      <label for="announcement_title">Title:</label>
                      <%= f.text_field :title, :class => "form-control" %>
                  </div>
                  <div class="form-group">
                    <label for="announcement_title">Subject Code:</label>
                    <%= f.text_field :code, :class => "form-control" %>
                </div>
                  <label for="announcement_title">Teacher:</label>
                  <%= select_tag 'teacher_id', options_for_select(User.includes(:info).where(infos: {is_teacher: true}).collect{ |u| [u.email, u.id] }),{:class => 'form-control'}%>
                  <% User.includes(:info).where(infos: {is_admin: false, is_teacher: false}).each do |user| %>
                  <div class = "checkbox col-xs-12">
                    <label class = "checkbox-label">
                      <%= check_box_tag "user[user_ids][]" , user.id, f.object.students.include?(user), :class => "checkbox" %>
                      <%= user.email %>
                    </label>
                  </div>
                <% end %>
              <!-- /.item -->
            </ul>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center">
              <%= f.submit "Update",:class => 'btn btn-sm btn-success btn-flat col-xs-12 view-more' %>
              <% end %>
          </div>
          <!-- /.box-footer -->
        </div>
      
        <!-- /.box -->
      </div>
</div>
