<%= form_for @subject, url: {action: "update"} do |f| %>
  <fieldset>
    <ol>

      <li class="required">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>
      <%= select_tag 'teacher_id', options_for_select(User.includes(:info).where(infos: {is_teacher: true}).collect{ |u| [u.email, u.id] })%>
            <% User.includes(:info).where(infos: {is_admin: false, is_teacher: false}).each do |user| %>
            <label>
                <%= check_box_tag "user[user_ids][]" , user.id, f.object.students.include?(user) %>
                <%= user.email %>
            </label>
          <% end %>
    </ol>
    <p>
        <%= f.submit "Update Subject" %>
    </p>
  </fieldset>
<% end %>