<%= form_for @subject, url: {action: "create"} do |f| %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>
      <%= select_tag 'teacher_id', options_for_select(User.includes(:info).where(infos: {is_teacher: true}).collect{ |u| [u.email, u.id] })%>

    </ol>
    <p>
        <%= f.submit "Create Subject" %>
    </p>
  </fieldset>
<% end %>