<div class = "row">
        <div class="col-xs-12 col-md-8 col-md-push-2">
<div class="box box-success col-xs-12">
            <div class="box-header with-border">
              <h3 class="box-title">Subjects</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body col-xs-12">
              <ul class="products-list product-list-in-box student-detail-show">
                   <h5>Title:</h5>
                   <h5><%= @subject.title %></h5>
                   <h5>Code:</h5>
                   <h5><%= @subject.code %></h5>
                   <h5>Teacher:</h5>
                   <% if !@subject.teacher.nil? %>
                   <h5><%=link_to @subject.teacher.email, admin_teacher_path(@subject.teacher) %></h5>
                   <% end %>
                   <h5>Student:</h5>
                    <% @subject.students.each do |s| %>
                        <h5><%= link_to s.email, admin_student_path(s) %></h5>
                    <% end %>
                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <div class = "col-xs-12">
                <%= link_to "Edit", edit_admin_subject_path(@subject), :class => 'btn btn-sm btn-success btn-flat col-xs-12 col-md-3 col-md-push-2 view-more'%>
                <%= link_to "Delete", admin_subject_path(@subject),  method: :delete, data: { confirm: 'Are you sure?' },  :class => 'btn btn-sm btn-danger btn-flat col-xs-12 col-md-3 col-md-push-4 view-more'%>
                </div>
            </div>
            <!-- /.box-footer -->
          </div>
        
          <!-- /.box -->
        </div>

</div>