<!DOCTYPE html>
<html>
  <head>
    <title><%= current_user.info.company.title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
              <div class="wrapper">
                  <!-- Sidebar Holder -->
                  <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar " style="overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                      <div class="sidebar-header">
                          <h3><%= current_user.info.company.title %></h3>
                      </div>
      
                      <ul class="list-unstyled components">
                          <p>
                            <%= current_user.email %>
                          </p>
                          <li class = "<%= 'active' if current_page? admin_profile_path %>" ><%= link_to 'Profile', admin_profile_path %></li>
                          <li class = "<%= 'active' if current_page? admin_user_index_path %>" ><%= link_to 'Admin', admin_user_index_path %></li>
                          <li class = "<%= 'active' if current_page? admin_teacher_index_path %>" ><%= link_to 'Teacher', admin_teacher_index_path %></li>
                          <li class = "<%= 'active' if current_page? admin_student_index_path %>" ><%= link_to 'Student', admin_student_index_path %></li>
                          <li class = "<%= 'active' if current_page? admin_subject_index_path %>" ><%= link_to 'Subject', admin_subject_index_path %></li>
                          <li class = "<%= 'active' if current_page? admin_announcement_index_path %>" ><%= link_to 'Announcement', admin_announcement_index_path %></li>
                      </ul>
      
                      <ul class="list-unstyled CTAs">
                          <li ><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "download" %></li>
                          <li ><%= link_to 'Dashboard', dashboard_url(:subdomain => current_user.info.company.id.to_s), :class => "download" %></li>
                      </ul>
                  </div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px; display: block; max-height: 601px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></nav>
      
                  <!-- Page Content Holder -->
                  <div id="content" class="">
      
                      <nav class="navbar-backend navbar-default col-xs-12">
                          <div class="container-fluid">
                              <div class="navbar-header col-xs-12">
                                  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                      <i class="glyphicon glyphicon-menu-hamburger"></i>
                                  </button>
                                  <h3 class = "narbar-title"><%= current_user.info.company.title %></h3>
                              </div> 
                          </div>
                      </nav>
                      <div id = "backend-content" class = "container-fluid">
                        <% if flash[:notice] %>
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                <%= flash[:notice] %>
                            </div>
                        <% end %>
                        <% if flash[:alert] %>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Alert!</h4>
                            <%= flash[:alert] %>
                        </div>
                    <% end %>
                        <%= yield %>
                        
                      </div>
                      <div id = "footer">
                          <h5>Copyright Doffic 2018</h5>
                        </div>
                  </div>
              </div>
              <!-- jQuery CDN -->
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
              <!-- Bootstrap Js CDN -->
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
              
              <%= javascript_include_tag 'application' %> 
              <!-- jQuery Custom Scroller CDN -->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
              <script>
                  $(document).ready(function () {
                    $("#sidebar").mCustomScrollbar({
                        theme: "minimal"
                    });
                
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar, #content').toggleClass('active');
                        $('#backend-content').toggleClass('content-active');
                        $('.collapse.in').toggleClass('in');
                        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                    });
                });
              </script>
      </body>
</html>
