<!DOCTYPE html>
<html>
  <head>
    <title>Doffic</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
        <nav class="navbar navbar-fixed-top blue-hue">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <%= link_to "Doffic", root_path, :class => 'navbar-brand'%>  

                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right ">

                      <li>
                        <%= link_to user_register_path do %>
                            <span class="glyphicon glyphicon-user"></span> Register
                        <% end %>
                      <li>
                        <%= link_to new_user_session_path do %>
                            <span class="glyphicon glyphicon-log-in"></span> Login
                        <% end %>
                        
                        </li>
                    </ul>
                  </div>
                </div>
              </nav> 
    <div id = "front-content">

    <%= yield %>
    </div>                    
    <div id = "footer">
        <h5>Copyright Doffic 2018  |  doffic287@gmail.com</h5>
    </div>
              <!-- jQuery CDN -->
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
              <!-- Bootstrap Js CDN -->
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
              
              <%= javascript_include_tag 'application' %> 
              <!-- jQuery Custom Scroller CDN -->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
              <script>
                  $(document).ready(function () {
                    $("#sidebar").mCustomScrollbar({
                        theme: "minimal"
                    });
                
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar, #content').toggleClass('active');
                        $('#backend-content').toggleClass('content-active');
                        $('.collapse.in').toggleClass('in');
                        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                    });
                });
                
              </script>
              <!-- WhatsHelp.io widget -->
<script type="text/javascript">
  (function () {
      var options = {
          email: "doffic287@gmail.com", // Email
          company_logo_url: "//static.whatshelp.io/img/flag.png", // URL of company logo (png, jpg, gif)
          greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.", // Text of greeting message
          call_to_action: "Message us", // Call to action
          position: "right", // Position may be 'right' or 'left'
      };
      var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115169227-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115169227-1');
</script>

<!-- /WhatsHelp.io widget -->
      </body>
</html>