<!DOCTYPE html>
<html>
  <head>
    <title>Eduvoc</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body id = "body">
    <div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class = "sidebar-brand"><img class="img-responsive" src="https://valehelle.github.io/landing_support/eduvoc_mini.jpg" alt="Cinque Terre"> </li>
            <li class = "<%= 'active' if current_page? root_path %>"><%= link_to 'Home', root_path %></li>
            <li class = "<%= 'active' if current_page? about_path %>" ><%= link_to 'About', about_path %></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">CIE IGCSE<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">CIE IGCSE</li>
                  <li class = "<%= 'active' if current_page? service_path %>" ><%= link_to 'Tuition Services', service_path %></li>
                  <li class = "<%= 'active' if current_page? material_path %>" ><%= link_to 'Material', material_path %></li>
                </ul>
              </li>
            <li class = "<%= 'active' if current_page? gallery_path %>" ><%= link_to 'Gallery', gallery_path %></li>
            <li class = "<%= 'active' if current_page? contact_path %>" ><%= link_to 'Contact', contact_path %></li>
            <li class = "<%= 'active' if current_page? faq_path %>" ><%= link_to 'Faq', faq_path %></li>
            <li class = "<%= 'active' if current_page? contact_path %>" ><%= link_to 'Login', new_user_session_path %></li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
    <div id = "sidebar-wrapper-bootstrap" class = "col-xs-12">
      <div class = "col-xs-6">
          <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
              <span class="hamb-top"></span>
              <span class="hamb-middle"></span>
              <span class="hamb-bottom"></span>
          </button>
      </div>
      <div class = "col-xs-6">
         <h2><%= link_to 'EDUVOC', root_path, class: 'edu-nav-logo' %></h2>
      </div>
    </div>
      <div id = "sidebar-wrapper-dummy" class = "col-xs-12">
      <div class = "col-xs-6">
          <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
              <span class="hamb-top"></span>
              <span class="hamb-middle"></span>
              <span class="hamb-bottom"></span>
          </button>
      </div>
      <div class = "col-xs-6">
         <h2><%= link_to 'EDUVOC', root_path %></h2>
      </div>
    </div>
    <!-- Page Content -->
    <div id = "content">
      <%= yield %>
    </div>
    
    <div id = "footer">
      <h5>Copyright Eduvoc 2018</h5>
    </div>
    </div>
  </body>
</html>
